.cards-filter-container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 2rem;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    height: 4rem;
}

.cards-filter-container select {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6e6e6;
    border-radius: 4px;
    border: none;
    width: 10rem;
    height: 2.5rem;
    padding-left: 0.5rem;
    border-right: 0.5rem solid transparent;

    outline: none;
}

.cards-filter-container option {
    background-color: #f3f4f6;
    border-radius: 4px;
}

select:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

/* media queries*/
@media (max-width: 650px) {
    .cards-filter-container select {
        display: none;
    }
}
