/* note: default font size = 16px = 1rem */
/*
Text            #16181D     Black
Background      #F3F4F6     White
Primary         #2c75ff     Blue
Secondary       #cfcfcf     Light Gray
Other           #e6e6e6     Lighter Gray
Accent          #696969     Gray
*/

* {
    box-sizing: border-box;
}

html {
    /* scrollbar no longer changes width of page */
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #696969;
    box-shadow: inset 0vw 0vw 0vw 0.15vw #f3f4f6;
}

html::-webkit-scrollbar-track {
    background-color: #f3f4f6;
}

body {
    margin: 0;
    background-color: #f3f4f6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #16181d;
    max-width: 1350px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}

hr {
    height: 1px;
    background-color: #cfcfcf;
    border: none;
}

.page-animation {
    animation: page-load 300ms ease-out;
}

@keyframes page-load {
    0% {
        transform: translateY(0.2vw);
        opacity: 80%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}
