/* border: 1px solid gray; */
.card {
    width: 350px;
    border-radius: 5px;

    /* text color */
    color: white;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

.card-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    border-radius: 4px 4px 0px 0px;
}

.card:hover {
    filter: brightness(85%);
}
.cards-flexbox {
    display: flex;
    justify-content: center;
}

.cards-container {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
}

.card-text-box {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    padding: 0.5rem;
    background-color: #424242;

    height: 4rem;
}

.card-header {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.2rem;
}

.card-header ul {
    /* remove unnecessary padding & margin */
    padding: 0;
    margin: 0;

    /* remove bullet points */
    list-style: none;
    /* set display flex & set gap between li elements*/
    display: flex;
    /* justify-content is used on the main axis, which by default is horizontal */
    justify-content: space-between;
}

.card-details ul {
    /* remove unnecessary padding & margin */
    padding: 0;
    margin: 0;
    font-size: 0.8rem;

    /* remove bullet points */
    list-style: none;
    /* set display flex & set gap between li elements*/
    display: flex;
    /* justify-content is used on the main axis, which by default is horizontal */
    justify-content: space-between;

    margin-top: 0.5rem;
}

.cards-filter-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
