/* border: 1px solid gray; */
.card {
    width: 350px;
    border-radius: 5px;

    /* text color */
    color: white;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 80px 1px #ffffff1c;
    background-color: #ffffff0c;
}

.card-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    border-radius: 8px 8px 4px 4px;
}
.cards-flexbox {
    display: flex;
    justify-content: center;
}

.cards-container {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-text-box {
    margin-top: 0.4rem;
    background-color: white;
    border-radius: 4px 4px 8px 8px;
    padding: 0.5rem;
    background-color: #424242;
}

.card-text-box:hover {
    background-color: #505050;
    text-decoration: underline;
}

.card-header {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.2rem;
}

.card-header ul {
    /* remove unnecessary padding & margin */
    padding: 0;
    margin: 0;

    /* remove bullet points */
    list-style: none;
    /* set display flex & set gap between li elements*/
    display: flex;
    /* justify-content is used on the main axis, which by default is horizontal */
    justify-content: space-between;
}

.card-details ul {
    /* remove unnecessary padding & margin */
    padding: 0;
    margin: 0;
    font-size: 0.8rem;

    /* remove bullet points */
    list-style: none;
    /* set display flex & set gap between li elements*/
    display: flex;
    /* justify-content is used on the main axis, which by default is horizontal */
    justify-content: space-between;
}
